.main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    width: 100%;
}

.search-bar {
    margin-top: 10px;
    padding-bottom: 10px;
}
.searchInput-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 91vw;
}